# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/GeneratedPluginRegistrant.swift
**/android/local.properties
**/android/key.properties
**/android/.gradle/
**/android/app/debug.keystore
**/android/app/release.keystore
**/pubspec.lock

# Metadata
*.iml
*.ipr
*.iws

# MacOS
.DS_Store

# Windows
Thumbs.db

# Web
web/*.js

# Coverage
coverage/

# Build outputs
build/
